/*NAVBAR WRAPPER*/
.navbar {
  width: 100%;
  background: var(--primary-color-main);

  position: relative;
}

/*NAVEBAR LOGO & TITLE PART*/
.navbar__header {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  font-size: 2.6rem;
  transition: .6s all;
  user-select: none;
  color: var(--secondery-color-sub);
}
.navbar__header:hover {
  color: var(--third-color-sub);
}
.navbar__header--logo {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
}
.navbar__header--title {
  align-self: flex-end;
}

/*NAVBAR SEARCH FORM PART*/
.navbar__search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 60rem;
}
.navbar__search form {
  display: flex;
  align-items: center;
  text-align: center;
  width: 60rem;

  position: relative;
}
.navbar__search form > input {
  background: var(--secondery-color-main);
  width: 30rem;
  border-radius: 7px;
  border: none;
  font-size: 1.7rem;
  text-align: center;
  transition: .4s all;
  backface-visibility: hidden;
  margin: 0 auto;
}
.navbar__search form > input:focus {
  outline: none;
  background: whitesmoke;
  width: 35rem;
  font-size: 1.9rem;
  transform: translateY(3px);
  box-shadow: 0 -.5rem 2.5rem rgba(255,255,255, .4);
}
.navbar__search form > button {
  position: absolute;
  right: 0;
}
